body {
  position: relative;
  overflow-y: auto;
}

html {
  scroll-padding-top: 100px;
}

.nav-link.active, .nav-link:hover {
  border-bottom: 3px solid #0a58ca;
  color: #0a58ca;
}

a:hover {
  box-shadow: none;
}

.skyblue {
  background-color:skyblue;
}

.darkseagreen {
  background-color: darkseagreen;
}

.coral {
  background-color: coral;
}

.RebeccaPurple {
  background-color: RebeccaPurple;
}
  